/* ALL SERVICES PAGE */
#all-services-deck {
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  gap: 2rem;
}

#all-services-deck .title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue-dark);
}

.all-services-deck__list {
  display: grid;
  padding: 1.5rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.service-minicard {
  border-radius: 1rem;
  background-color: var(--grey-200);
  padding: 1rem;
  border: 1px solid var(--blue-dark);
  box-shadow: 0px 0px 5px var(--blue-dark);
  transition: var(--transition);
}

.service-minicard:hover {
  padding: 0.5rem;
  box-shadow: 0px 0px 10px 3px var(--blue-dark);
}

/* SERVICE DETAILS */
#service-details {
  margin: 1rem 0rem;
}

.details-header {
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--blue-dark);
  font-weight: 600;
  margin-bottom: 0.75rem;
  text-shadow: 0px 0px 2px white;
}

.back-btn {
  box-shadow: none;
}

.back-btn > i {
  color: black;
  font-size: 2rem;
}

.service-info {
  /* border: 2px solid var(--yellow-dark); */
  /* border-radius: 1rem; */
  /* box-shadow: 0px 0px 10px black; */
  padding: 1rem;
  background-color: var(--grey-200);
  flex-grow: 1;
}

.service-info-list {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  font-size: 1.25rem;
  padding-bottom: 0.75rem;
}

.info-item {
  gap: 1rem;
}

.info-item > i {
  color: var(--blue-dark);
}

.info-item > .fa-circle-check {
  color: var(--green-dark);
}

.included-title {
  border-top: 2px dashed var(--yellow-dark);
  padding: 0.75rem;
  font-weight: 600;
  text-decoration: green wavy underline;
}

.service-cost {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--grey-200);
  background-color: black;
  justify-content: space-between;
}

.cost {
  gap: 1rem;
  color: var(--yellow-dark);
}

.add-btn {
  gap: 1rem;
  font-size: 1.25rem;
  background-color: var(--blue-dark);
}

/* ADD SERVICE */
#add-service {
  margin: 1rem;
  font-size: 1.25rem;
}

.form-fs {
  padding: 1rem;
  border: 2px dashed var(--blue-dark);
  border-radius: 1rem;
  margin-top: 1.5rem;
}

.form-fs legend {
  padding: 0 0.75rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.input-container {
  position: relative;
}

.form-fs input {
  font-size: 1.25rem;
  font-family: var(--main-font);
}

input[id="address"] {
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 50px;
  padding-left: 3rem;
}

.input-container > i {
  position: absolute;
  left: 0.75rem;
  font-size: 1.75rem;
  color: var(--blue-dark);
}

.input-container > input[type="radio"] {
  display: none;
}

.dt-selector {
  /* background-color: white; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.dt-selector .title {
  grid-column: 1 / 3;
  font-weight: 600;
  color: var(--blue-dark);
  font-size: 1.5rem;
  background-color: white;
  border-radius: 50px;
  padding: 0.5rem 0;
}

.d-selector {
  background-color: var(--yellow-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px var(--blue-dark);
}

.d-selector label {
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.d-selector:has(> input[type="radio"]:checked) {
  color: var(--red-dark);
  font-weight: 600;
  box-shadow: 0 0 5px var(--red-dark);
}

.payment-fs .input-container {
  justify-content: space-between;
}

.payment-fs input {
  background: none;
  border: none;
  font-weight: 700;
}

.input-container #total {
  color: var(--red-dark);
}

#add-service .add-btn {
  font-family: var(--main-font);
  font-weight: 600;
  background-color: var(--red-dark);
  margin: 0.5rem 0;
}

#add-service .add-btn:hover {
  background-color: var(--red-light);
  color: var(--red-dark);
}
