<footer class="main-footer c-flex">
  <nav class="nav navbar">
    <ul class="nav-list c-flex">
      <li class="nav-list__item c-flex">
        <button class="btn nav-btn home-btn">
          <a href="../../index.html">
            <i class="fa-solid fa-house"></i>
          </a>
        </button>
      </li>
      <li class="nav-list__item c-flex">
        <button class="btn nav-btn services-btn" onclick="showAllServices()">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </button>
      </li>
      <li class="nav-list__item c-flex">
        <button class="btn nav-btn parts-market-btn" onclick="showAllPart()">
          <i class="fa-solid fa-gears"></i>
        </button>
      </li>
      <li class="nav-list__item c-flex">
        <button class="btn nav-btn profile-btn" onclick="showMyProfile()">
          <i class="fa-solid fa-user"></i>
        </button>
      </li>
    </ul>
  </nav>
</footer>
