<article id="track_service" class="c-flex">
  <div class="content-container">
    <div class="center-content">
      <h2 class="title">Track Order</h2>
    </div>
    <div class="braa">
      <div class="right-content">
        <h3>Basic Service</h3>
        <p>Booking ID: 201232321</p>
        <h3>Type: Car Maintenance</h3>
        <h3>Status: ready</h3>
      </div>
      <div class="left-content">
        <div class="img-title">
          <img src="https://shorturl.at/kGJK4" alt="Car Maintenance" class="img">
        </div>
        <h3>Pick-up Time: 9:10</h3>
      </div>
    </div>


  </div>
</article>
